.header h1{
font-size: 100px;
text-align: center;
font-family: monospace;
font-style: italic;
}

.description p{
  font-size: 30px;
  text-align: center;
  font-family: monospace;
  font-style: italic;
}

.description{
  background-color: black;
  color:white;
}
